@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #2980b9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background: #fff;
    border:2px solid #fff;
    border-radius: 10px;
    box-shadow: 7px 7px 10px  rgba(0, 0, 0, 0.349);

}
.container input{
    border: none;
    outline: none;
    height: 50px;
    width: 306px;
    font-size: 25px;
    margin-left: 10px;
    
}
.container input:valid ~ span{
    display: inline-block;
}

.container span{
    font-size: 22px;
    padding-right: 10px;
    cursor: pointer;
    color: #2980b9;
    display: none;
}

.fa-eye.hide:before {
    content: "\f070";
}


